@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(./img/bg.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.quote {
  font-style: italic;
  font-size: 24px;
  line-height: 137.52%;
  max-width: 70%;
}

.header {
  padding-bottom: 100px;
}
.header .nav {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 35px;
}
.header .nav ul {
  display: flex;
  gap: 30px;
  border-bottom-width: 5px;
  -o-border-image: linear-gradient(180deg, #3c22ff 0%, #72a6ff 100%);
     border-image: linear-gradient(180deg, #3c22ff 0%, #72a6ff 100%);
  border-bottom-style: solid;
}
.header .nav ul li a {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  transition: 0.4s;
}
.header .nav ul li a:hover {
  color: #1a00dc;
}
.header .header__content {
  padding: 88px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.header .header__content .img {
  flex: 0 1 40%;
  margin: 0 auto;
}
.header .header__content .title {
  word-wrap: break-word;
  flex: 0 1 auto;
  margin: 0 auto;
}
.header .header__content .title .name {
  margin-bottom: 60px;
}
.header .header__content .title .name h1 {
  font-weight: 600;
  font-size: 34px;
  line-height: 127.02%;
  letter-spacing: 0.04em;
  margin-bottom: 44px;
}
.header .header__content .title .name h1 span {
  color: #1e00ff;
  font-weight: 800;
}
.header .header__content .title .name p {
  font-weight: 600;
  font-size: 30px;
  line-height: 129.52%;
  letter-spacing: 0.065em;
  color: #1a00dc;
}
.header .header__content .title .contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 25px;
}
.header .header__content .title .contacts a {
  color: #000;
  display: flex;
  gap: 22px;
  align-items: center;
  transition: 0.4s;
}
.header .header__content .title .contacts a:hover {
  transform: scale(1.05);
}
.header .header__quote {
  text-align: right;
  margin-left: auto;
  border-right: 2px solid #000;
  padding-right: 17px;
}

.portfolio {
  text-align: center;
  padding-bottom: 100px;
}
.portfolio h2 {
  margin-bottom: 100px;
}
.portfolio .item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
.portfolio .item .img {
  position: relative;
}
.portfolio .item .img::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 0;
  transition: 0.4s;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio .item .img.done:hover::after {
  content: "Рабочий сайт";
  height: 100%;
}
.portfolio .item .img.test:hover::after {
  content: "Тестовый сайт";
  height: 100%;
}
.portfolio .item .name {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

.instruments {
  padding-bottom: 100px;
}
.instruments h2 {
  text-align: center;
  margin-bottom: 100px;
}
.instruments .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 35px;
}
.instruments .wrapper .item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.instruments .wrapper .item .icon {
  flex-shrink: 0;
}
.instruments .wrapper .item .name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.instruments .wrapper .item .scale {
  position: relative;
  max-width: 230px;
  width: 100%;
  height: 15px;
  background: #dcdcdc;
  border-radius: 50px;
}
.instruments .wrapper .item .scale::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  background: #444444;
  border-radius: 50px;
}
.instruments .wrapper .item .percent {
  font-size: 18px;
  line-height: 22px;
}
.instruments .wrapper .item .css::after {
  width: 80%;
}
.instruments .wrapper .item .scss::after {
  width: 70%;
}
.instruments .wrapper .item .js::after {
  width: 50%;
}
.instruments .wrapper .item .bt::after {
  width: 70%;
}
.instruments .wrapper .item .react::after {
  width: 50%;
}
.instruments .wrapper .item .html::after {
  width: 95%;
}
.instruments .wrapper .item .git::after {
  width: 70%;
}
.instruments .wrapper .item .bem::after {
  width: 80%;
}
.instruments .wrapper .item .ph::after {
  width: 70%;
}
.instruments .wrapper .item .fm::after {
  width: 85%;
}
.instruments .instruments__quote {
  margin-top: 100px;
  border-left: 5px solid #000;
  padding-left: 17px;
}

.benefits {
  padding-bottom: 100px;
}
.benefits .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  row-gap: 40px;
}
.benefits .wrapper .item {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}
.benefits .wrapper .item .img {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.callback {
  padding-bottom: 100px;
}
.callback h2 {
  text-align: center;
  max-width: 50%;
  margin: 60px auto 0;
}
.callback form {
  padding-top: 70px;
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.callback form input {
  background: none;
  font-size: 24px;
  line-height: 29px;
  border: none;
  border-bottom: 2px solid #000;
  padding: 20px 0;
}
.callback form p {
  margin-top: 50px;
  font-size: 24px;
  line-height: 29px;
}
.callback form textarea {
  width: 100%;
  height: 250px;
  border: none;
  background: #fbfbfb;
  border-bottom: 2px solid #000000;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
  font-size: 22px;
  margin-bottom: 43px;
}
.callback form button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 411px;
  height: 76px;
  width: 100%;
  color: #fff;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  background: linear-gradient(180deg, #72a6ff 0%, #3c22ff 100%);
  border-radius: 15px;
}
.callback form button:active {
  transform: scale(0.97);
  background: linear-gradient(0deg, #72a6ff 0%, #3c22ff 100%);
}
.callback form #success {
  color: #1a00dc;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  display: none;
}

@media (max-width: 1023px) {
  .container {
    max-width: 960px;
  }
  .instruments .wrapper {
    grid-template-columns: 1fr;
  }
  .header__content {
    flex-wrap: wrap;
    text-align: center;
  }
  .header__content .img {
    flex: 1 1 100% !important;
  }
  .quote {
    max-width: 100%;
  }
}
@media (max-width: 642px) {
  .nav {
    justify-content: start !important;
  }
  .nav ul {
    flex-direction: column;
    -moz-column-gap: 40px !important;
         column-gap: 40px !important;
  }
  .nav ul li a {
    font-size: 24px !important;
  }
  .header__content .contacts {
    grid-template-columns: 1fr !important;
  }
  .header__content .contacts a {
    margin-left: 20%;
  }
  .benefits .wrapper {
    grid-template-columns: 1fr;
  }
  .callback h2,
.callback form {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .instruments .wrapper .item .name {
    font-size: 18px;
  }
}
@media (max-width: 425px) {
  .instruments .wrapper .item {
    display: grid !important;
  }
  .instruments .wrapper .item .icon {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 50px;
  }
  .instruments .wrapper .item .name {
    grid-column: 2/5;
    grid-row: 1/2;
  }
  .instruments .wrapper .item .scale {
    grid-column: 1/4;
    grid-row: 2/3;
    grid: 1/3, 2/3;
  }
  .instruments .wrapper .item .percent {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .header__content .contacts a {
    margin-left: 0%;
  }
}/*# sourceMappingURL=style.css.map */